.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
