.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 80px
}

.main-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-row {
    display: table-cell;
    max-width: 600px;
    margin: 10px;
}

button {
    padding: 25px;
}

a {
    color: white;
    text-decoration: none;
}