<div class="main-div">
    <div class="button-row">
      <button mat-raised-button color="primary">
        <nav>
          <a class="button"
            routerLink="/agendamento"
            ariaCurrentWhenActive="page">
            Realizar agendamento
          </a>
        </nav>
      </button>
    </div>
    <div class="button-div">
      <button mat-raised-button color="primary">
        <nav>
          <a class="button"
              routerLink="/consulta"
              ariaCurrentWhenActive="page">
              Consultar agendamento
          </a>
        </nav>
    </button>
    </div>
</div>