<div class="main-div">
    <form [formGroup]="form" class="main-itens">
        <mat-form-field>
            <mat-label>Celular</mat-label>
            <input matInput #phone formControlName="phone">
        </mat-form-field>
        <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!this.form.valid" (click)="consultar()">Consultar agendamento</button>
          </div>
    </form>
    <div class="table">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
            </ng-container>
        
            <ng-container matColumnDef="serviço">
              <th mat-header-cell *matHeaderCellDef>Serviço</th>
              <td mat-cell *matCellDef="let element"> {{element.service.title}} </td>
            </ng-container>
        
            <ng-container matColumnDef="profissional">
              <th mat-header-cell *matHeaderCellDef>Profissinal</th>
              <td mat-cell *matCellDef="let element"> {{element.employee.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef>Data</th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>

            <ng-container matColumnDef="horario">
                <th mat-header-cell *matHeaderCellDef>Horário</th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
            
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>Editar</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editarAgendamento(element.id)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Deletar</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deletarAgendamento(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
